services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    restart: unless-stopped
    #user: "${UID}:${GID}"
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto:/mosquitto/config     
      - ./mosquitto/data:/mosquitto/data  
      - ./mosquitto/log:/mosquitto/log 
    networks:
      - iot-net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    user: "${UID}:${GID}"
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=vdc_IoT2026
      - DOCKER_INFLUXDB_INIT_ORG=vdc
      - DOCKER_INFLUXDB_INIT_BUCKET=iot_data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
    volumes:
      - ./data/influxdb:/var/lib/influxdb2
    networks:
      - iot-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  telegraf:
    image: telegraf:1.32
    container_name: telegraf
    restart: unless-stopped
    user: "${UID}:${GID}"
    depends_on:
      influxdb:
        condition: service_healthy
    volumes:
      - ./telegraf:/etc/telegraf:ro
    environment:
      - INFLUX_TOKEN=${INFLUXDB_TOKEN}
    networks:
      - iot-net

  grafana:
    image: grafana/grafana:11.3.0
    container_name: grafana
    restart: unless-stopped
    user: "${UID}:${GID}"
    depends_on:
      influxdb:
        condition: service_healthy
    ports:
      - "3000:3000"
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=vdc_IoT2026
    networks:
      - iot-net

  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    restart: unless-stopped
    user: "${UID}:${GID}"
    depends_on:
      - influxdb
      - mosquitto
    ports:
      - "1880:1880"
    volumes:
      - ./data/nodered:/data
    networks:
      - iot-net

networks:
  iot-net:
    driver: bridge
