apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: vdc
      defaultBucket: iot_data
    secureJsonData:
      token: ${GF_PROVISIONING_INFLUXDB_TOKEN}   # ¡¡Mismo que en .env!!
    isDefault: true